.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
}

.heading {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 10px;
}

.input-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.result {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
}

.result span {
    font-weight: bold;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}